@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes glowMoveRight {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-120px, 80px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes glowMoveLeft {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(120px, 80px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes smoothUpDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* Second column: niche → upar → repeat */
@keyframes smoothDownUp {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
  }
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes headingGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}